{{template "base" .}} {{define "title"}}About{{end}} {{define "main"}}
<h2>About Snippetsbox</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, in aliquam neque
  sapiente porro commodi ipsa expedita quas aperiam ea quasi et dolores quidem,
  deserunt eum! Molestiae ipsum quo culpa sit accusamus, earum, repudiandae
  recusandae dolor reiciendis ad non obcaecati ipsam, ab at ducimus labore odio
  impedit minus aut commodi. Voluptatum ipsa illum mollitia, eveniet, vitae
  quisquam voluptate animi fugit labore numquam soluta autem! Delectus
  asperiores atque sit nemo. Veniam in consequuntur consequatur, magnam debitis
  qui atque autem itaque praesentium suscipit omnis ut quod esse aspernatur
  quasi sit, et porro mollitia illum. Officiis nobis ipsum omnis eveniet
  ducimus, magni itaque odio aspernatur aperiam, sint laudantium ad adipisci
  nesciunt ullam rem explicabo iusto blanditiis odit totam. Perspiciatis, et?
  Accusamus nam deserunt sapiente nobis quam, facere neque, porro iure eaque
  sunt saepe laborum. Aliquid, vitae non atque repudiandae, molestias
  repellendus velit in natus esse voluptatem nemo veniam voluptates quo iure
  mollitia optio? Possimus deserunt nesciunt culpa, veniam explicabo odit ab at
  tempora reprehenderit distinctio molestiae delectus, nemo velit optio cumque.
  Nemo quos reprehenderit numquam repudiandae repellat ut necessitatibus
  quisquam libero, ipsa, eveniet veniam, aliquam quas inventore labore tenetur
  explicabo vel reiciendis adipisci. At voluptates quo illo eaque in dignissimos
  tempore nemo neque obcaecati voluptatibus perspiciatis, numquam ullam
  molestias, dolores magni nesciunt quibusdam optio quidem. Sed animi magnam sit
  perferendis? Necessitatibus quae consectetur esse quis nostrum fugiat
  voluptatum sapiente aperiam minus harum placeat maiores officiis ea id,
  assumenda sed, recusandae voluptates ipsum architecto nisi. Qui, iusto esse
  reprehenderit asperiores animi, illum veritatis quia possimus quod quaerat
  voluptatum nihil nisi distinctio, id aut est tenetur. Eaque, possimus id!
  Voluptatum vel, magnam iusto rerum provident a possimus molestiae eum dolorum
  quibusdam repudiandae, fugiat reiciendis, suscipit incidunt expedita unde
  tenetur amet nostrum doloribus. Eum voluptatum quibusdam deleniti odit nam
  eaque consectetur. Quidem fuga dolor cupiditate enim.
</p>
{{end}}
