{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="shortcut icon"
      href="/static/img/favicon.ico"
      type="image/x-icon"
    />

    <title>{{template "title" .}} - Snippetsbox</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Snippetsbox</a></h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/snippets/new">Create snippet</a>
      <div>
        <a href="/user/signup">Signup</a>
        <a href="/user/login">Login</a>
        <form action="/user/logout" method="POST">
          <button>Logout</button>
        </form>
      </div>
    </nav>
    <main>
      {{with .Flash}}
      <div class="flash">{{.}}</div>
      {{end}} {{template "main" .}}
    </main>
    {{template "footer" .}}

    <script src="/web/static/js/main.js"></script>
  </body>
</html>
{{end}}
