{{template "base" .}} {{define "title"}}Create a New Snippet{{end}} {{define
"main"}}
<form action="/snippets/edit/:id">
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
  {{with .Form}}
  <div>
    <label>Title:</label>
    {{with .Errors.Get "title"}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="text" name="title" value='{{.Get "title"}}' />
  </div>
  <div>
    <label>Content:</label>
    {{with .Errors.Get "content"}}
    <label class="error">{{.}}</label>
    {{end}}
    <textarea name="content">{{.Get "content"}}</textarea>
  </div>
  <div>
    <input type="submit" value="Edit snippet" />
  </div>
  {{end}}
</form>
{{end}}
